<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			My name is Ruaraí Kirk and I am currently based in Dublin. I studied Electrical and Electronic engineering (BEng) for my undergraduate degree, after which I completed an MSc in Electronics from The University of Edinburgh.
			After completing my master’s degree, I spent 3 years working for Intel as a Process Engineer in their cutting edge manufacturing facility just outside Dublin, Ireland. In this time I gained valuable experience and maintained the highest performance standards within a high volume and highly regulated manufacturing environment. I am seeking a challenging opportunity to utilize the experience gained from the semiconductor industry, as well as from my academic endeavours.
			With excellent planning and organisational skills, I conduct work in a safe manner adhering to a methodical approach. I believe in being positive, persistent and creative, constantly striving to better myself in my career. Furthermore I feel that there is no problem however big or small that cannot be resolved through good communication and teamwork. 
			Please feel free to check out my GitHub and links below for some examples of my work. Thanks!
		</div>
		<br>
	</div>
</div>
