<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			Hi!<br><br>Thanks for viisting my GitHub CV. My name is Ruaraí Kirk and I am currently based in Dublin, Ireland.
			<br><br>My background is in Electronic Engineering, having spent 4 years working for Intel and most recently with KPMG in the area of R&D Tax Credits, primarily with clients in the software industry, as well and in electronics and manufacturing.
			<br><br>I am currently completing a Higher Diploma in Computing at DIT (soon to be TUD), with a strong focus this year on OOP development (Java, C#) covering topics such as SOLID design principles, concurrency, threading, advanced algorithms, etc.
			<br><br>The purpose of this GitHub CV is to demonstrate some examples of projects that I have worked on, and showcase some of the technologies that I have used.
			<br><br>Should you have any questions or wish to discuss further, please feel free to get in touch at ruaraikirk@gmail.com or via LinkedIn.
			<br><br>Thanks,<br>Ruaraí
		</div>
		<br>
	</div>
</div>
