<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			Hi!<br><br>Thanks for viisting my GitHub CV. My name is Ruaraí Kirk and I am currently based in Dublin, Ireland.
			<br><br>My background is in Electronic Engineering, having spent 4 years working for Intel and most recently with KPMG in the area of R&D Tax Credits, primarily with clients in the software industry, as well and in electronics and manufacturing.
			<br><br>I have recently completed a Higher Diploma in Computing at TUD (previously DIT), with a strong focus OOP (Java, C#) and covering topics such as SOLID design principles, concurrency and threading, as well as web application development and touching on Android application development. 
			<br><br>In terms of professional development experience I completed a six month Software Development internship with SAP, and following that joined Continuous Software as a Software Developer.
			<br><br>The purpose of this GitHub CV is to demonstrate some examples of personal projects that I have worked on, and showcase some of the technologies that I have used.
			<br><br>Should you have any questions or wish to discuss further, please feel free to get in touch at ruaraikirk@gmail.com or via LinkedIn.
			<br><br>Thanks,<br>Ruaraí
		</div>
		<br>
	</div>
</div>
